@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.171);
}

.title h1 {
  background: url('../public/images/background.jpg') no-repeat center/cover;
  width: 100%;
  text-align: center;
  line-height: 150px;
  border-radius: 10px;
}

.footer {
  height: 70px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 30px;
  backdrop-filter: blur(6px);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.171);
}



