@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  background: url('../public/images/background.jpg') no-repeat center/cover;
}

.container * {
  font-family: 'Press Start 2P', cursive;
}

.content {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.content .pokeball {
  animation: Rotate 3s linear infinite;
}

.content a {
  font-size: 14px;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #FEFEFE7B;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.content a:hover {
  background-color: #FEFEFED5;
 }


@keyframes Rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
