.card {
  width: 50%;
  font-size: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 30px;
  backdrop-filter: blur(6px);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.171);
  border-radius: 8px;
  list-style: none;
  margin: 0 auto;
}

.card p {
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: lightgreen;
  border: 2px solid purple;
  border-radius: 8px;
}

.card h2 {
  font-size: 16px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.card h3 {
  font-size: 14px;
  margin-bottom: 25px;
}

.card span {
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.type_grass {
  background-color: rgb(60, 183, 60);
}

.type_poison {
  background-color: rgb(172, 76, 172);
}

.type_grass {
  background-color: rgb(60, 183, 60);
}
