.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 250px;
  max-width: 550px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.171);
  padding: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.171);
  border-radius: 8px;
  list-style: none;
  margin: 0 auto;
}

.card p {
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: lightgreen;
  border: 2px solid purple;
  border-radius: 8px;
}

.card h2 {
  font-size: 1em;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.card h3 {
  font-size: .9em;
  margin-bottom: 25px;
}

.card span {
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.types {
  width: fit-content;
  display: flex;
}

.types span {
  color: white;
  font-weight: normal;
  border: 2px solid black;
}

@media (max-width: 500px) {
  .types {
    flex-direction: column;
    gap: 2em;
  }
}

.type_grass {
  background-color: #64BC3F;
}

.type_poison {
  background-color: #8F318E;
}

.type_normal {
  background-color: #979765;
}

.type_fighting {
  background-color: #B3241E;
}

.type_flying {
  background-color: #977EEC;
}

.type_ground {
  background-color: #745234;
}

.type_rock {
  background-color: #585858;
}

.type_bug {
  background-color: #97A918;
}

.type_ghost {
  background-color: #5D4686;
}

.type_steel {
  background-color: #A9A9C5;
}

.type_fire {
  background-color: #ED6D24;
}

.type_water {
  background-color: #547EEC;
}

.type_electric {
  background-color: #F6C524;
}

.type_psychic {
  background-color: #F74675;
}

.type_ice {
  background-color: #85CFCF;
}

.type_dragon {
  background-color: #5C2BF6;
}

.type_dark {
  background-color: #5D4638;
}

.type_fairy {
  background-color: #D694D6;
}

.type_unknown {
  background-color: #E0E0FF;
}

.type_shadow {
  background-color: #565679;
}